# Assignment 01

Dear Team Members,

I hope you are doing GREAT!

The following assignment is a step-by-step process to implement a multiclass classification using Iris classical dataset.
The idea of the current assignment is to intensify what we have learned in deep learning.

There are some new concepts and challenges that we will face in the current assignment, and we need to resolve each issue and move to the next step.

In week 08 (lecture session), we will discuss part of the potential challenges. The assignment is easy to follow yet needs the patience to solve each question at a time.

**Note:**

Please note that every question has 0.5 and it provides five out of total ten marks for the assignment.

The video presentation, as you have done for Assignment 01, provides the rest of the mark, which is 5.

In short, 5 for coding + 5 for the video presentation = 10.

In [ ]:
#00 The iris.csv file (Iris dataset) is located in the Assignment folder below the current ipynb file.

 **Important Note:** We are NOT allowed to import the dataset from Keras. We need to upload the provided iris.csv file to colab from our Google Drive.

In [ ]:
#00 1st, upload the iris.csv into your Google Drive (your Colab folder).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.

In [ ]:
fileName="/content/drive/MyDrive/iris.csv"

In [ ]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.

In [ ]:
import pandas as pd

In [ ]:
iris = pd.read_csv(fileName)

In [ ]:
#01-c Show the first 5 rows of the dataframe.

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

As you see, the last column contains strings. We want to convert these strings to integers,  and we can work with them easily in our Neural Network model.

setosa -> 0

versicolor -> 1

virginica -> 2

In [ ]:
#2-a Please convert the last column strings to integers, as 
# setosa -> 0
# versicolor -> 1
# virginica -> 2

In [ ]:
iris.replace(to_replace=['setosa', 'versicolor', 'virginica'], value=[0, 1, 2], inplace=True)

In [ ]:
#2-b Now, check the first 5 elements of the iris dataset once again:

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.

In [ ]:
x = iris[iris.columns[0:3]]

In [ ]:
x.head()

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [ ]:
#03-b Select the last column as the label and call it y.

In [ ]:
y = iris[iris.columns[3]]

In [ ]:
y.head()

0    0.2
1    0.2
2    0.2
3    0.2
4    0.2
Name: petal_width, dtype: float64

In [ ]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testin segments, 
#   and call them parts x_train,x_test,y_train,y_test.

In [ ]:
#04-a Please split the data, and label ito training and testing segments, while the size of test data is 20%,
#     and use randome_state = 123 to make all the answers similar in the whole class.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 123)

In [ ]:
#04-b Please, check the first five rows of  x_train,x_test,y_train,y_test.

In [ ]:
x_train.head()

     sepal_length  sepal_width  petal_length
130           7.4          2.8           6.1
119           6.0          2.2           5.0
29            4.7          3.2           1.6
0             5.1          3.5           1.4
62            6.0          2.2           4.0

In [ ]:
x_test.head()

     sepal_length  sepal_width  petal_length
72            6.3          2.5           4.9
112           6.8          3.0           5.5
132           6.4          2.8           5.6
88            5.6          3.0           4.1
37            4.9          3.1           1.5

In [ ]:
y_train.head()

130    1.9
119    1.5
29     0.2
0      0.2
62     1.0
Name: petal_width, dtype: float64

In [ ]:
y_test.head()

72     1.5
112    2.1
132    2.2
88     1.3
37     0.1
Name: petal_width, dtype: float64

In [ ]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME! 
#     You are good to continue!

In [ ]:
len(x_train)

120

In [ ]:
len(x_test)

30

In [ ]:
#05-a Please, convert y_train and y_test into categorical, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

In [ ]:
from keras.utils.np_utils import to_categorical

In [ ]:
one_hot_train_labels = to_categorical(y_train)

In [ ]:
one_hot_test_labels = to_categorical(y_test)

In [ ]:
#06-a Please define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output, 
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate activation function for the last layer. 
#     (You already have guessed what could be the best when we have converted the labels to categorical.)

In [ ]:
from keras import models, layers
import tensorflow as tf

In [ ]:
myIris = models.Sequential()

In [ ]:
myIris.add(layers.Dense(100, activation='relu'))

In [ ]:
myIris.add(layers.Dense(100, activation='relu'))

In [ ]:
myIris.add(layers.Dense(3, activation='softmax'))

In [ ]:
#06-b Now, please compile your model using 'rmsprop', an appropriate loss function, and 'accuracy' for your metrics.

In [ ]:
myIris.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
#07-a Pleease fit your model using epoch=20, batch = 10.

In [ ]:
myIris.fit(x_train, one_hot_train_labels, epochs=20, batch_size=10, validation_data=(x_train, one_hot_train_labels))

Epoch 1/20
12/12 [==============================] - 1s 24ms/step - loss: 1.0514 - accuracy: 0.4077 - val_loss: 0.7372 - val_accuracy: 0.8167
Epoch 2/20
12/12 [==============================] - 0s 7ms/step - loss: 0.7176 - accuracy: 0.8072 - val_loss: 0.5967 - val_accuracy: 0.8167
Epoch 3/20
12/12 [==============================] - 0s 7ms/step - loss: 0.5814 - accuracy: 0.8053 - val_loss: 0.5123 - val_accuracy: 0.8167
Epoch 4/20
12/12 [==============================] - 0s 8ms/step - loss: 0.5054 - accuracy: 0.8040 - val_loss: 0.4718 - val_accuracy: 0.8167
Epoch 5/20
12/12 [==============================] - 0s 8ms/step - loss: 0.4857 - accuracy: 0.8357 - val_loss: 0.4240 - val_accuracy: 0.8167
Epoch 6/20
12/12 [==============================] - 0s 8ms/step - loss: 0.4314 - accuracy: 0.8201 - val_loss: 0.4232 - val_accuracy: 0.8167
Epoch 7/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3990 - accuracy: 0.8159 - val_loss: 0.4066 - val_accuracy: 0.8167
Epoch 8/20
12/12 [==============================] - 0s 7ms/step - loss: 0.4533 - accuracy: 0.7773 - val_loss: 0.3702 - val_accuracy: 0.8167
Epoch 9/20
12/12 [==============================] - 0s 7ms/step - loss: 0.4267 - accuracy: 0.7618 - val_loss: 0.3758 - val_accuracy: 0.8167
Epoch 10/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3648 - accuracy: 0.8118 - val_loss: 0.3533 - val_accuracy: 0.8167
Epoch 11/20
12/12 [==============================] - 0s 8ms/step - loss: 0.3201 - accuracy: 0.8530 - val_loss: 0.3426 - val_accuracy: 0.8167
Epoch 12/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3439 - accuracy: 0.8479 - val_loss: 0.3681 - val_accuracy: 0.8417
Epoch 13/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3591 - accuracy: 0.8053 - val_loss: 0.3343 - val_accuracy: 0.8167
Epoch 14/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3449 - accuracy: 0.8074 - val_loss: 0.3334 - val_accuracy: 0.8333
Epoch 15/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3403 - accuracy: 0.8096 - val_loss: 0.3339 - val_accuracy: 0.8167
Epoch 16/20
12/12 [==============================] - 0s 7ms/step - loss: 0.4029 - accuracy: 0.7744 - val_loss: 0.3110 - val_accuracy: 0.8250
Epoch 17/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3390 - accuracy: 0.8316 - val_loss: 0.3217 - val_accuracy: 0.8333
Epoch 18/20
12/12 [==============================] - 0s 7ms/step - loss: 0.2986 - accuracy: 0.8110 - val_loss: 0.3257 - val_accuracy: 0.8417
Epoch 19/20
12/12 [==============================] - 0s 6ms/step - loss: 0.3655 - accuracy: 0.8527 - val_loss: 0.2993 - val_accuracy: 0.8417
Epoch 20/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3074 - accuracy: 0.8442 - val_loss: 0.2970 - val_accuracy: 0.8250

In [ ]:
#08-a Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [ ]:
result = myIris.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 163ms/step - loss: 0.3183 - accuracy: 0.9000

In [ ]:
#09-a Now, we repeate all we have done in #06-a with the following parameters:
#     In the first and second layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3.

In [ ]:
myIris = models.Sequential()

In [ ]:
myIris.add(layers.Dense(10, activation='relu'))

In [ ]:
myIris.add(layers.Dense(10, activation='relu'))

In [ ]:
myIris.add(layers.Dense(3, activation='softmax'))

In [ ]:
#09-b Use the same setting as you have done for #06-b (compile phase using 'rmsprom' and et cetera)

In [ ]:
myIris.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
#09-c Please fit your model using epoch=4, batch = 10.

In [ ]:
myIris.fit(x_train, one_hot_train_labels, epochs=4, batch_size=10, validation_data=(x_train, one_hot_train_labels))

Epoch 1/4
12/12 [==============================] - 1s 26ms/step - loss: 1.1534 - accuracy: 0.5084 - val_loss: 1.0939 - val_accuracy: 0.5167
Epoch 2/4
12/12 [==============================] - 0s 7ms/step - loss: 1.0905 - accuracy: 0.5007 - val_loss: 1.0628 - val_accuracy: 0.5083
Epoch 3/4
12/12 [==============================] - 0s 8ms/step - loss: 1.0558 - accuracy: 0.5156 - val_loss: 1.0405 - val_accuracy: 0.5083
Epoch 4/4
12/12 [==============================] - 0s 8ms/step - loss: 1.0416 - accuracy: 0.5080 - val_loss: 1.0219 - val_accuracy: 0.5083

In [ ]:
#09-d Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [ ]:
result = myIris.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 151ms/step - loss: 1.0574 - accuracy: 0.3333

In [ ]:
#10-a Please explain all you have learned from this assignment. 
# Theese are some quiestions that you could answer:
# How the number of layers or hidden units could impact the accuracy of our model.
# Do we always suffer from overfitting?
# How can we find and manage overfitting?

Double-click here to start typing your answer:

The number of layers impact the accuracy of the model greatly. This is because if there are few neurons in these hidden layers, underfitting ends up happening but if there are too many neurons in the model then overfitting may arise. Also, there is a general ruling in how many layers to use in models. 1 layer would generally be needed in approximating a function containing a continous mapping from one finite space to another and 2 layers would represent an arbitrary decision boundary to arbitrary accuracy
with rational activation functions and can approximate any smooth
mapping to any accuracy.

(Source: https://stats.stackexchange.com/questions/181/how-to-choose-the-number-of-hidden-layers-and-nodes-in-a-feedforward-neural-netw)

We can generally find overfitting when we put new data in the model and checking if the model fits the new data and if it fits the data used to estimate the model. We can avoid and manage overfitting by getting a random sample that is large enough to handle all terms expected to be included in the model

(Source: https://statisticsbyjim.com/regression/overfitting-regression-models/)
-

In [ ]:
#10-b
# Please try different sessing as we did in #09
# You can change the number of layers, hidden units, compile parameters, number of epochs, batch_size... everything!
# Please change one parameter at a time.
# And share your experience.

In [ ]:
myIris = models.Sequential()

In [ ]:
myIris.add(layers.Dense(10, activation='relu'))

In [ ]:
myIris.add(layers.Dense(10, activation='relu'))

In [ ]:
myIris.add(layers.Dense(3, activation='sigmoid'))

In [ ]:
myIris.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
myIris.fit(x_train, one_hot_train_labels, epochs=4, batch_size=8, validation_data=(x_train, one_hot_train_labels))

Epoch 1/4
15/15 [==============================] - 1s 18ms/step - loss: 1.6996 - accuracy: 0.2171 - val_loss: 1.3270 - val_accuracy: 0.3500
Epoch 2/4
15/15 [==============================] - 0s 6ms/step - loss: 1.3117 - accuracy: 0.3561 - val_loss: 1.1271 - val_accuracy: 0.4083
Epoch 3/4
15/15 [==============================] - 0s 6ms/step - loss: 1.0833 - accuracy: 0.3888 - val_loss: 1.0075 - val_accuracy: 0.3583
Epoch 4/4
15/15 [==============================] - 0s 6ms/step - loss: 0.9601 - accuracy: 0.3684 - val_loss: 0.9230 - val_accuracy: 0.5750

In [ ]:
result = myIris.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 182ms/step - loss: 0.8489 - accuracy: 0.7000

Double-click here to start typing your answer:

My Experince changing the results ended up making the program less accurate than before. After changing the last layer's activation to sigmoid and running all the lines again, the accuracy went way down compared to what we used initially which was softmax. After evaluating the model, the accuracy was at its lowest at 27 percent compared to 80 percent when we used softmax. It shows how accurate softmax is as a activation layer compared to the rest.

## Deliverable:
Part A:

Submitting the current colab file.

Part B:

Please record and upload a video to YouTube, describing all you have done in 5 to 10 video recorded clip. If you go beyond 10 minutes, it is fine, and the mentioned time range is to show how the scale of the assignment could be. Then submit a notepad text document that contains the link to the uploaded YouTube video.


**Summary:**

In short, what we need to submit are:

a) The current ipynb file that contains all the cod (5 marks)

b) A text file that contains the YouTube link of your recorded video.

Wish you only the best, Dear Team Members!

Reza